.header .favorite-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .favorite-items-container.active{
    right: 0;
}

.header .favorite-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .favorite-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .favorite-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .favorite-items-container .cart-item img{
    height: 7rem;
}

.header .favorite-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .favorite-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .favorite-items-container .btn{
    width: 100%;
    text-align: center;
}